*{
    margin :0;
    font-family:Arial, Helvetica, sans-serif;
    border:border-box;
}
body{
    background-color:#E3E6E6
}
.navbar{
    height:60px;
    background-color:#131921;
    color:white;
    display:flex;
    align-items:center;
    justify-content:space-evenly;
  
}

.nav_logo{
    height: 50px;
    width:110px; 
}

.logo{
    background-image: url(/images/amazon_logo.png);
    height: 50px;
    width: 100%;
    background-size:cover;
}
.border{
    border:1px solid transparent;
}
.border:hover{
    border:1px solid white;
}
.logo:hover{
    background-size:113px;
    background-repeat:no-repeat
}
/* box2 */
.add-first{
    font-size: 0.8em;
    color:#cccccc;
    margin-left:15px;
}
.add-second{
    font-size: 1em;
    margin-left:3px;
}
.add-icon{
    display:flex;
    align-items:center;
}
/* box3 */
.nav_search{
    display:flex;
    justify-content:space-evenly;
    height:40px;
    width:60%;
    border-radius:5px;
}
.nav_search:hover{
    border:2px solid orange;
}
.search_select{
    background-color:#f3f3f3;
    width:50px;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    border:none;

}
.search_place{
    width:100%;
    border:none;
    font-size:1rem;
}
.search_icon{
    width:40px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:1.2rem;
    background-color:orange;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    color:#131921
}
/* box 4 */
.span{
    font-size: 0.70rem;
}
.nav-second{
    font-size:0.9rem;
    font-weight:bold
}
/* box 5 */
.nav_cart i{
    font-size:30px;
}
.nav_cart{
    font-size:0.85rem;
    font-weight:700
}
/* Menu */
.nav_panel {
    background-color:#232F3E;
    height:39px;
    width:100%;
    color:white;
    display:flex;
    align-items:center;
    justify-content:space-evenly;
  
}
.menu_ops p{
    display:inline;
    margin-left:15px;
    
}

.menu_ops{
    width:70%;
    font-size:0.85rem;
    font-weight:bold;
}
.deals{
    font-size:0.rem;
    font-weight:bold;
}
/* Hero image */
.hero_section{
    background-image:url(/images/hero_image2.jpg);
    height: 350px;
    background-size:cover;
    display:flex;
    justify-content:center;
    align-items:flex-end;
    
}
.hero_msg{
    height:40px;
    width:95%;
    color:black;
    background-color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-bottom:20px;
}
.blur_click{
    color:#2162a1
}
/* shop_section */

.shop_section{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
    background-color:#E3E6E6;
}
.box{
    height:420px;
    width:350px;
    background-color:white;
    margin-top:15px;
    padding:20px 0px 15px;
}
.box_image{
    height: 280px;
    width:100%;
    padding:20px 0px 15px;
    background-size:cover;
    background-repeat:no-repeat;
    margin-top:1rem;
    margin-bottom:1rem;
    background-position:center;
}
.box_content{
    margin-left:20px;
    margin-right:20px;
}
.more-view{
    color:#2162a1;
    margin-top:40px
}
/* group */
.items{
    display:flex;
    flex-wrap:wrap;
}
.games_text{
    font-weight:700;
    font-size:21px;
    margin:
}
.item{
    height:110px;
    width:45%;
    margin:7px;
    background-position:center;
    margin-bottom:30px;
    background-size:contain;
    background-repeat:no-repeat;
}
.item p{
    margin-top:115px;
    font-size:12px;
    color:rgb(15, 17, 17);
    font-weight:400;
}
.box8 .more-view{
    margin-top: -4px;    

}
/* Footer */
footer{
    margin-top:15px
}
.footer-panel{
    color:white;
    width:100%;
    height:40px;
    background-color:rgb(72, 87, 105);
    text-align:center;
    padding-top:25px;
    font-size:13px;
    font-weight:400;
}
 

.footer-pan2{
    height:400px;
    background-color:#232F3E;
    color:#B8BFC2;
    display:flex;
    justify-content:space-evenly
}
ul {
    margin-top:40px;
}
ul a {
    display:block;
    font-size:0.85rem;
    margin-bottom:15px
}
ul p{
    color:white;
    margin-bottom:10px;
}
.foot_pan3{
    height:100px;
    background-color:#232F3E;
    border-top:0.1em solid lightgrey;
    display:flex;
    justify-content:space-evenly;
    align-items:center;

}
.last_logo{
    height:50px;
    width:90px;
    background-image:url(/images/amazon_logo.png);
    background-size:contain;
    background-repeat:no-repeat;
}
.last{
    height:77px;
    background-color:#131A22;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-evenly;
    color:white;
}
