*{
    color:rgb(193, 56, 156)
}
/* this is universal selecto */

button{
    color:#06202B;
    background-color:#7AE2CF
}
/* element selector */

body {
     background-color:antiquewhite
}

#best1 {
    color:olivedrab
}
#best2 {
    color:crimson
}
/* ID selector */

.group{
    color:cadetblue
}
/* class selector */